<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.hjc.dao.user.UserMapper">
    <insert id="add" parameterType="User">
        insert into smbms_user (userCode, userName, userPassword,
        gender, birthday, phone, address, userRole, createdBy, creationDate)
        values (#{userCode}, #{userName}, #{userPassword}, #{gender}, #{birthday},
        #{phone}, #{address}, #{userRole}, #{createdBy}, #{creationDate})
    </insert>

    <select id="getLoginUser" parameterType="string" resultType="user">
        select * from smbms_user where userCode = #{userCode}
    </select>

    <select id="getUserList" resultType="user">
        select u.*, r.roleName as userRoleName from smbms_user u, smbms_role r where u.userRole = r.id
        <if test="userName != null">
            AND u.userName like "%"#{userName}"%"
        </if>
        <if test="userRole > 0">
            AND u.userRole = #{userRole}
        </if>
        order by creationDate DESC limit #{startNo}, #{pageSize}
    </select>

    <select id="getUserCount" resultType="int">
        select count(1) as count from smbms_user u, smbms_role r where u.userRole = r.id
        <if test="userName != null">
            AND u.userName like "%"#{userName}"%"
        </if>
        <if test="userRole > 0">
            AND u.userRole = #{userRole}
        </if>
    </select>

    <update id="updatePwd">
        update smbms_user set userPassword = #{userPassword} where id = #{id}
    </update>

    <select id="getUserById" resultType="user">
        select * from smbms_user where id = #{id}
    </select>

    <update id="modify" parameterType="user">
        update smbms_user set userName = #{userName}, gender = #{gender}, birthday = #{birthday}, phone = #{phone}, address = #{address}, userRole = #{userRole} where id = #{id}
    </update>

    <delete id="deleteUserById" parameterType="int">
        delete from smbms_user where id = #{id}
    </delete>
</mapper>