# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../:\codeLearning\JavaWeb\smbms-ssm\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
